<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.DialogMapper">
    <select id="getDialogByTag" resultType="com.example.yin.domain.Dialog">
        select * from dialog where tag = #{tag}
    </select>
    <select id="getDialogAndNpcByTag" resultType="com.example.yin.domain.DialogAndNpc">
        select *
        from dialog
        left join npc
        on dialog.nid = npc.id
        where tag = #{tag}
    </select>
</mapper>