<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.CourseMapper">
    <resultMap id="courseResultMap" type="com.example.yin.domain.Course">
    </resultMap>
    <select id="getCourseById" resultMap="courseResultMap">
        select * from course where id = #{id}
    </select>
    <insert id="addCourse">
        insert into course values (#{id}, #{name}, #{code}, #{credit});
    </insert>
    <update id="updateCourse">
        update course
            set id = #{id},
            name = #{name},
            code = #{code},
            credit = #{credit}
    </update>
    <delete id="deleteCourseById">
        delete from course where id = #{id}
    </delete>
    <select id="selectAllCourse" resultMap="courseResultMap">
        select * from course;
    </select>
</mapper>