<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.BillMapper">
    <select id="selectBillByAccount" resultType="com.example.yin.pojo.Bill">
        select * from v_bill where account = #{account};
    </select>

    <select id="selectBillByAccountAndType" resultType="com.example.yin.pojo.Bill">
        select * from v_bill where account = #{account} and type = #{type};
    </select>

    <insert id="insertBill">
        insert into v_bill(type, title, detail, date, src, account)
        values (#{type}, #{title}, #{detail}, #{date}, #{src}, #{account})
    </insert>

    <update id="updateCard">
        update v_bill
        set title=#{title},
        detail=#{detail},
        date=#{date},
        src=#{src}
        where account=#{account}
        and type=#{type};
    </update>

    <update id="updateTagsAndNoteByBid">
        update v_bill
        set tags=#{tags},
        note=#{note}
        where id=#{id};
    </update>
</mapper>