<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.CardMapper">
    <select id="selectCardByAccount" resultType="com.example.yin.pojo.Card">
        select * from v_card where account = #{account};
    </select>

    <select id="selectCardByAccountAndType" resultType="com.example.yin.pojo.Card">
        select * from v_card where account = #{account} and type = #{type};
    </select>

    <insert id="insertCard">
        insert into v_card(type, detail, src, account)
        values (#{type}, #{detail}, #{src}, #{account})
    </insert>

    <update id="updateCard">
        update v_card
        set type=#{type},
        detail=#{detail},
        src=#{src}
        where account=#{account};
    </update>
</mapper>