<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.CardMappers.IdCardFrontMapper">
    <select id="selectIdCardFrontByUid" resultType="com.example.yin.pojo.Cards.IdCardFront">
        select * from id_card_front where uid=#{uid};
    </select>
    <update id="updateIdCardFront">
        update id_card_front
        set failure_date=#{failureDate},
        issue_authority=#{issueAuthority},
        issue_date=#{issueDate}
        where uid=#{uid}
    </update>
    <insert id="insertIdCardFront">
        insert into id_card_front (failure_date, issue_authority, issue_date, uid)
        values (#{failureDate}, #{issueAuthority}, #{issueDate}, #{uid})
    </insert>
</mapper>